In [22]:
import pandas as pd
import numpy as np

In [23]:
df_bad=pd.read_excel('서울시 유흥주점 현황.xlsx')
df_bad.head()

     기간  자치구 식품접객업 식품접객업.1
0    기간  자치구  단란주점    유흥주점
1  2020  종로구   108     193
2  2020   중구    79     217
3  2020  용산구    94      24
4  2020  성동구    40      22

In [24]:
df_bad=df_bad.iloc[1:,1:]
df_bad=df_bad.rename(columns={'식품접객업':'단란주점','식품접객업.1':'유흥주점'})
df_bad.head()

   자치구 단란주점 유흥주점
1  종로구  108  193
2   중구   79  217
3  용산구   94   24
4  성동구   40   22
5  광진구   76   14

In [25]:
df_bad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 1 to 25
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     25 non-null     object
 1   단란주점    25 non-null     object
 2   유흥주점    25 non-null     object
dtypes: object(3)
memory usage: 732.0+ bytes

In [26]:
df_bad['단란주점']=df_bad['단란주점'].astype(int)
df_bad['유흥주점']=df_bad['유흥주점'].astype(int)

In [27]:
df_bad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 1 to 25
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   자치구     25 non-null     object
 1   단란주점    25 non-null     int32
 2   유흥주점    25 non-null     int32
dtypes: int32(2), object(1)
memory usage: 532.0+ bytes

In [28]:
df_bad['단란주점']=1/df_bad['단란주점']
df_bad['유흥주점']=1/df_bad['유흥주점']

In [29]:
from sklearn.preprocessing import MinMaxScaler

for i in ['단란주점','유흥주점']:
    scaler=MinMaxScaler(feature_range=(1,10))
    df_bad[i]=scaler.fit_transform(df_bad[i].values.reshape(-1,1))
df_bad.head()

   자치구      단란주점      유흥주점
1  종로구  2.851064  1.021017
2   중구  4.163210  1.000000
3  용산구  3.383431  2.359155
4  성동구  8.927660  2.498079
5  광진구  4.356103  3.450704

In [30]:
df_bad['유해성 지수']=df_bad['단란주점']+df_bad['유흥주점']
df_bad=df_bad.loc[:,['자치구','유해성 지수']]
df_bad.head()

   자치구     유해성 지수
1  종로구   3.872081
2   중구   5.163210
3  용산구   5.742586
4  성동구  11.425739
5  광진구   7.806807

In [31]:
df_bad.to_csv('서울시 유해성 지수.csv',index=False)

In [33]:
df_cul=pd.read_csv('서울시_문화_체육 지수.csv')
df_cul.head()

   자치구  문화/체육 지수
0  종로구  2.305807
1   중구  5.336015
2  용산구  2.853632
3  성동구  4.624239
4  광진구  2.626637

In [34]:
df_pro=pd.read_csv('서울시_복지지수.csv')
df_pro.head()

   자치구     복지 지수
0  강남구  7.450180
1  강동구  6.535414
2  강북구  5.201080
3  강서구  6.731693
4  관악구  6.861345

In [35]:
df=pd.merge(df_pro,df_cul,how='outer',on='자치구')
df.head()

   자치구     복지 지수  문화/체육 지수
0  강남구  7.450180  7.972180
1  강동구  6.535414  4.481822
2  강북구  5.201080  3.697953
3  강서구  6.731693  8.849936
4  관악구  6.861345  4.953597

In [36]:
df=pd.merge(df,df_bad,how='outer',on='자치구')
df.head()

   자치구     복지 지수  문화/체육 지수    유해성 지수
0  강남구  7.450180  7.972180  2.037031
1  강동구  6.535414  4.481822  4.663278
2  강북구  5.201080  3.697953  4.796577
3  강서구  6.731693  8.849936  2.828931
4  관악구  6.861345  4.953597  5.250898

In [37]:
df.to_csv('서울 복지_문화 및 체육_유해성 지수.csv',index=False)